body,
table,
tr,
td{
	font: normal 14px/14px Arial;
}
#calculate_shipping {
	width:645px;
	margin-top:20px;
}
#calculate_shipping .text_info {
	color:#838383;
	font: italic 13px/13px Arial;
	margin-bottom:15px;
}
#calculate_shipping .shipping_tabs {
	width:645px;
}
#calculate_shipping .shipping_tabs .shipping_tab {
	float:left;
	cursor:pointer;
	text-align:center;
}
#calculate_shipping .shipping_tabs .shipping_tab.current {
	cursor:default;
}
#calculate_shipping .shipping_tabs .shipping_tab.tab_1 {
	width:264px;
}
#calculate_shipping .shipping_tabs .shipping_tab.tab_2 {
	width:380px;
}
#calculate_shipping .shipping_tabs .shipping_tab span {
	color:#676767;
	font: normal 16px/34px Arial;
	border-bottom:dashed 1px #a1a1a0;
}
#calculate_shipping .shipping_tabs .shipping_tab:hover span {
	color:#2f2f2f;
	font: normal 16px/34px Arial;
	border-bottom:dashed 1px #2f2f2f;
}
#calculate_shipping .shipping_tabs .shipping_tab.current {
	background:#fff url(../images/new_images/bg_grey_28.png) repeat-x 0px 0px;
	height:35px;
	
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	-khtml-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;
	
	/*-moz-box-shadow: 1px 1px 3px 0px #e0e0df;
	-webkit-box-shadow: 1px 1px 3px 0px #e0e0df;
	box-shadow: -1px -1px 2px 0px #e0e0df;*/
}
#calculate_shipping .shipping_tabs .shipping_tab.current.tab_1 {
	border-left: solid 1px #d3d3d3;
}
#calculate_shipping .shipping_tabs .shipping_tab.current.tab_2 {
	border-right: solid 1px #d3d3d3;
}
#calculate_shipping .shipping_tabs .shipping_tab.current span {
	height:35px;
	color:#676767;
	font: bold 16px/34px Arial;
	border-bottom:none;
	display:block;
	border: solid 1px #d3d3d3;
	border-bottom: none;	
	
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	-khtml-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;
}
#calculate_shipping .shipping_tabs .shipping_tab.current.tab_1 span {
	border-left: none;
	-moz-box-shadow: -1px -1px 2px 0px #e0e0df;
	-webkit-box-shadow: -1px -1px 2px 0px #e0e0df;
	box-shadow: -1px -1px 2px 0px #e0e0df;
}
#calculate_shipping .shipping_tabs .shipping_tab.current.tab_2 span {
	border-right: none;
	-moz-box-shadow: 1px -1px 2px 0px #e0e0df;
	-webkit-box-shadow: 1px -1px 2px 0px #e0e0df;
	box-shadow: 1px -1px 2px 0px #e0e0df;
}
#calculate_shipping .shipping_content {
	width:603px;
	border:solid 1px #d3d3d3;
	padding:0px 20px;
	margin-top: 0;
	overflow: hidden;
	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	
	-moz-box-shadow: 0px 0px 3px 0px #e0e0df;
	-webkit-box-shadow: 0px 0px 3px 0px #e0e0df;
	box-shadow: 0px 0px 3px 0px #e0e0df;
}
#calculate_shipping .shipping_content .step {
	border-bottom:solid 1px #d9d9d9;
	padding:18px 0px;
	overflow: hidden;
}
#calculate_shipping .shipping_content .step:last-child {
	border-bottom:none;
}
#calculate_shipping .shipping_content .step .field_name {
	float:left;
	width:100px;
	margin-right:15px;
	color:#444;
	font: bold 14px/19px Arial;
}
#calculate_shipping .shipping_content .step .field_name.label{
	margin-bottom: 30px;
}
#calculate_shipping .shipping_content .step .field_name.l_h_39 {
	line-height:39px;
}
#calculate_shipping .shipping_content .step .field_chose {
	float:right;
	width: 400px;
	color:#444;
	font: bold 14px/14px Arial;
	margin-bottom: 15px;
	height: 40px;
	display: inline-block;
}
#calculate_shipping .shipping_content .step .field_chose span {
	color:#a2a2a2;
	margin:0px 8px;
}

#calculate_shipping .shipping_content .step .field_chose input[type="text"],
#calculate_shipping .shipping_content .step .field_chose select{
	width:300px;
	height:35px;
	color:#444;
	font: normal 14px/14px Arial;
	border:solid 1px #d6d6d6;
	padding-left:10px;
	
	-moz-box-shadow: inset 1px 1px 2px 0px #b3b3b3;
	-webkit-box-shadow: inset 1px 1px 2px 0px #b3b3b3;
	box-shadow: inset 1px 1px 2px 0px #b3b3b3;
	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
}
#calculate_shipping .shipping_content .step .field_chose input[type="text"].mini{
	width: 100px;
}
#calculate_shipping .pseudo_radio_wrap {
	margin-bottom:7px;
}
#calculate_shipping .pseudo_radio_wrap:last-child {
	margin-bottom:0px;
}
#calculate_shipping .pseudo_radio_wrap .pseudo_radio {	
	color: #626262;
	font: normal 14px/14px Arial;	
	cursor:pointer;
}
#calculate_shipping .pseudo_radio_wrap .pseudo_radio.check {
	font-weight:bold;
}
#calculate_shipping .pseudo_radio_wrap .pseudo_radio .radio_img {
	width:14px;
	height:14px;
	background:url(../images/new_images/pseudo_radio_grey.png) no-repeat 0px 0px;
	display:inline-block;
	margin-right:10px;
	vertical-align: top;
}
#calculate_shipping .pseudo_radio_wrap .pseudo_radio.check .radio_img {
	background-position:0px -14px;
}
#calculate_shipping .pseudo_radio_wrap .pseudo_radio .radio_text {
	display:inline-block;
	height:14px;
}
#calculate_shipping .shipping_cost {
	color: #5d5d5d;
	font: bold 16px/16px Arial;
	margin-top:16px;
}
#calculate_shipping .shipping_cost_info {
	color: #838383;
	font: italic 13px/13px Arial;
	margin-top:7px;
}
#ToReg{
	width: 100%;
	display: block;
	clear: both;
	font: normal 14px/14px Arial;
}
#btn_make_sum{
	width: 201px;
	height: 38px;
	background: url('/bitrix/templates/eshop_adapt_/css/../images/new_images/btn_online_order.png') no-repeat 0px 0px;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	font: normal 15px/38px Arial;
	border: none;
	cursor: pointer;
	margin-top: 20px;
}